@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeLine {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-fadeLine {
  animation: fadeLine 3s ease-in-out infinite;
}

.animate-slide {
  animation: slide 15s linear infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #b9ff66;
}

body {
  background: var(--background);
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--green) !important;
}

.swiper-pagination-bullet {
  margin: 0 16px !important;
  height: 0px !important ;
  width: 0px !important ;
  opacity: 0.8 !important;
}

.swiper-pagination-bullet::before {
  content: url("../../public/btn-star.svg") !important;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet::before {
  content: url("../../public/btn-star-green.svg") !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 70%;
}

.swiper-slide:nth-child(2n) {
  width: 70%;
}

.swiper-slide:nth-child(3n) {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 100%;
  }

  .swiper-slide:nth-child(2n) {
    width: 100%;
  }

  .swiper-slide:nth-child(3n) {
    width: 100%;
  }
}